<div id="design-examples">
    <h3>Button plate examples:</h3>
    <!-- button plate -->
    <div class="flex-container">
        <div class="button-plate">
        this is a button plate
        </div>
    </div>

    <h3>language circles examples:</h3>
    <!-- language circle -->
    <div class="language-circle">
        <span class="language">🇯🇵</span>
    </div>
    <div class="language-circle">
        <span class="language">🇺🇸</span>
    </div>
    <div class="language-circle">
        <span class="language">🇸🇪</span>
    </div>

    <h3>Button plate + language circle examples:</h3>
    <!-- button plate with language circles -->
    <div class="flex-container">
        <div class="button-plate">
            <div class="language-circle small fixed-top-right">
            <span class="language" style="color:#000">？</span>
            </div>
            <p class="heading strong">Duolingo</p>

            <div class="language-circle">
            <span class="language">🇯🇵</span>
            </div>
            <span class="language-equalizer">⬌</span>
            <div class="language-circle">
                <span class="language">🇺🇸</span>
            </div>
        </div>
    </div>

    <h3>Popup dialog</h3>
    <!-- popup dialog -->
    <div class="popup-dialog">
        <div class="popup-border">
        <p class="title">This is an title</p>
        <p class="heading">This is an heading</p>
        <p>This is normal text</p>
        <div class="flex-container">
        <div class="button-plate">
            OK
        </div>
        <div class="button-plate">
            Cancel
        </div>
        </div>
        </div>
    </div>

    <h3>Word group expand/collapse</h3>
    <!-- word group expand/collapse -->
    <div class="expander word-group">
        <div class="expander-inner">
        <div class="flex-container flex-row">
            <span class="checkbox" data-group-id="1"></span>
            <span class="heading flex-space-2">Example text here</span>
            <span class="nr-of-words">0/42</span>
        </div>

        <div class="expander-content word-list">
            <div class="flex-container flex-row">
            <span class="checkbox" data-item-id="2" data-group-id="1"></span>
            <span>よろしくお願いします (よろしくおねがいします)</span>
            <span>nice to meet you</span>
            </div>
            <div class="flex-container flex-row">
            <span class="checkbox"></span>
            <span>よろしくお願いします (よろしくおねがいします)</span>
            <span>nice to meet you</span>
            </div>
            <div class="flex-container flex-row">
            <span class="checkbox"></span>
            <span>よろしくお願いします (よろしくおねがいします)</span>
            <span>nice to meet you</span>
            </div>
            <div class="flex-container flex-row">
            <span class="checkbox"></span>
            <span>よろしくお願いします (よろしくおねがいします)</span>
            <span>nice to meet you</span>
            </div>
            <div class="flex-container flex-row">
            <span class="checkbox"></span>
            <span>よろしくお願いします (よろしくおねがいします)</span>
            <span>nice to meet you</span>
            </div>
        </div>
        </div>
    </div>
</div>

