<div id="game-summary" style="display: none;">
    <div class="flex-container flex-around has-text-centered">
        <div class="flex-container flex-center">
          <div class="word-card summary-correct">
            <p class="heading">Correct</p>
            <p id="game-summary-success" class="title">42</p>
          </div>
        </div>
        <div class="flex-container flex-center">
          <div class="word-card summary-wrong">
            <p class="heading">Wrong</p>
            <p id="game-summary-wrong" class="title">2</p>
          </div>
        </div>
      </div>
    <div id="game-summary-word-list">
    </div>
</div>