@charset "utf-8";
@import "customstyle.scss";
//@import "~bulma/bulma";

.navbar-burger {
    margin-left: 0;
    margin-right: auto;
}

.word-card {
    padding:20px;
    border-radius: 0.25rem;
    box-shadow:0 0.5em 1em -0.125em rgba(10, 10, 10, 0.10);
}

.summary-correct {
    background-color: var(--correct-color);
}

.summary-wrong {
    background-color: var(--wrong-color);
}

.level.summary-correct,
.level.summary-wrong {
    border-bottom: 1px solid #000
}

.summary-word-guess {
    display: block;
    padding: 2px;
}

.success-guess {
    border: 1px solid var(--correct-color);
    border-radius: 0.25rem;
}